.margin{
    margin-top: 50px;
    margin-bottom: 20px;
}
.bg-color{
    background-color: black;
}
.color{
    color:#ffffff;
    background-color: rgba(0, 0, 0, 0.589);
    width: 440px;
    height: 100px;
    margin-left: 160px;
    border-radius: 7px;
}
@media(max-width:700px){
    .slide-hight{
        height: 300px;
    }
    .cat1, .cat2, .cat3{
      margin-top: 20px;
    }
    
}
.categories{
    margin-top: 40px;
}
.categories h1{
    color: #fbfbfb;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 8px;
}
.cat1{
    background-image:linear-gradient(57deg, orange,orangered)
}
.cat2{
    background-image:linear-gradient(57deg, #00ff22,#d4f832)
}
.cat3{
    background-image:linear-gradient(57deg, #1c6ef1,#32b0f8)
}



.containe{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    
}
.containe .cerd{
    position: relative;
    height: 250px;
    background-color: #23c3d8;
    display: flex;
    width: 45%;
    margin: 30px 0px;
}
.containe .cerd .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient( 57deg,#2255c2, #007bff);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}
.containe .cerd:hover .imgBx{
    width: 150px;
    height: 150px;
    left: -75px;
    top: calc(50% - 75px);
}
/* .containe .cerd .imgBx:before{
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 6em;
    color: rgb(255,255,255,05);
    font-weight: 700;
    z-index: -5;
} */

.containe .cerd .imgBx img{
    max-width: 300px;
    transition: 0.5s ease-in-out;
}
.containe .cerd:hover .imgBx img{
    max-width: 175px;
}
.containe .cerd .content{
    position:absolute;
    right: 0;
    width: calc(100% - 75px);
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containe .cerd .content h3{
    margin-bottom: 5px;
    font-size: 24px;
}
.containe .cerd .content a{
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    text-decoration: none;
    color: #fff;
}
@media (max-width: 992px){
    .containe{
        width:100%;
        flex-direction: column;
        align-items: center;
    }
    .containe .cerd{
        width: 350px;
    }
}